<img src="../public/assets/img/f82at5sm.png">
<h1>Eat-Da-Burger!</h1>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>


